@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    margin: 0;
    background: gray;
}

nav{
    background: #594848;
    width: 100%;
    overflow: auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    float: left;
}

nav a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 1.7rem;
    color: white;
    padding: 20px 10px;
    font-family: 'Ubuntu', sans-serif ;
}

nav a:hover{
    background: skyblue;
    color: black;
}
/* image start */
.container{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}

.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}

.gallery img{
    width: 100%;
    height: auto;
}

.desc{
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
}

footer{
    padding: 0px;
    font-size: 1.7rem;
    text-align: center;
    background-color: #594848;
    color: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

.b1{
    text-align: center;
    border: none;
    color: #000000;
    cursor: pointer;
    height: 30px;
    margin-left: 50%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.i1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #f2f2f2;
}
/* image finish */

nav .logo{
    float: right;
    margin-right: 155px;
    margin-top: 10px;
    font-size: 3.5rem;
    font-weight: 500;
    font-style: 'Ubuntu', sans-serif;
    color: #f2f2f2;
}
/* index start*/
.image2{
    position: relative;
}

.image2 img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 20px;
}

.heading{
    position: absolute;
    color: #f2f2f2;
    font-size: 2vmax;
    top: 10px;
    left: 5%;
    margin-right: 30px;
}

.heading h3{
    font-size: 4rem;
}

.wrapper{
    border: 3px solid white;
}

.image1{
    position: relative;
    float: right;
    margin-left: 30px;
    overflow: auto;
    margin-bottom: 10px;
}

.text1{
    color: #f2f2f2;
    font-size: 2rem;
    margin-right: 13px;
}

.b2{
    text-align: center;
    border: none;
    color: #000000;
    cursor: pointer;
    height: 30px;
    margin-left: 43%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* d1{
    position: absolute;
    left: 50px;
} */

/* .hidden {
    display: none;
  } */

  .container2 {
    position: relative;
    width: 1074px;
    height: 395px;
    background-color: gray;
    border-radius: 8px;
    overflow: hidden;
}

  .container3 {
    position: relative;
    width: 1074px;
    height: 395px;
    background-color: gray;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
}

.arrow-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 100%;
    background-color: #444;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid #fff;
}

.data-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    font-size: 1.6rem;
}

.container2:hover .data-container {
    width: 100%;
    /* Adjust this width to show/hide more content */
    padding: 10px;
}

.container3:hover .data-container {
    width: 100%;
    /* Adjust this width to show/hide more content */
    padding: 10px;
}

.image3{
    float: left;
    position: relative;
    margin-left: 30px;
    overflow: auto;
    margin-bottom: 10px;
}

.arrow-container1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 100%;
    background-color: #444;
    cursor: pointer;
}

.arrow1 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #fff;
}
/* index finish */

/* mission start */

.heading-m{
    text-align: center;
    font-size: larger;
    color: #f2f2f2;
}

.container-m{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}

.gallery-m img{
   padding-left: 100px;
   margin-top: 10px;
   /* width: 100%; */
}

.text-m{
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    font-size: 1.6rem;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #4f3737;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .b-m{
    border-color: #444;
    text-align: center;
    cursor: pointer;
    height: 30px;
    margin-left: 46%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

/* .gallery-m{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
} */

/* mission finish  */

/* about start */

.gallery-a img{
    padding-left: 50px;
    margin-top: 10px;
 }

 html{
    font-size: 62.5%;
 }

 .pa1{
    font-size: 1.6rem;
 }

 /* respomsive */

 @media (max-width:998px){
    html{
        font-size: 55%;
    }
 }
 @media (max-width:768px){
    html{
        font-size: 45%;
    }
 }
 @media (max-width:412px){
    html{
        font-size: 40%;
    }
 }
